---
import { getCollection } from 'astro:content'
import PageLayout from '~/layouts/PageLayout.astro'
import PostItem from '~/components/PostItem.astro'

const basename = import.meta.env.BASE_URL

const posts = (await getCollection('blog'))
  .sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf())

const meta = {
  title: '全部文章列表',
  description: '这里是文章列表',
}
---

<PageLayout {meta}>
  <section class="mx-4 mt-8">
    <ul>
      {
        posts.map((post) => (
          <li class="mb-8">
            <PostItem post={post.data} url={`${basename}blog/${post.slug}/`} />
          </li>
        ))
      }
    </ul>
  </section>
</PageLayout>
